<p>dashboard works!</p>

<button type="button" class="btn btn-primary" (click)="onButtonClick($event)">
  Primary
</button>
<button type="button" class="btn btn-secondary" (click)="onButtonClick($event)">
  Secondary
</button>
<button type="button" class="btn btn-success" (click)="onButtonClick($event)">
  Success
</button>
<button type="button" class="btn btn-danger" (click)="onButtonClick($event)">
  Danger
</button>
<button type="button" class="btn btn-warning" (click)="onButtonClick($event)">
  Warning
</button>
<button type="button" class="btn btn-info" (click)="onButtonClick($event)">
  Info
</button>
<button type="button" class="btn btn-light" (click)="onButtonClick($event)">
  Light
</button>
<button type="button" class="btn btn-dark" (click)="onButtonClick($event)">
  Dark
</button>
<button type="button" class="btn btn-link" (click)="onButtonClick($event)">
  Link
</button>
